*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 3rem;
    color: rgb(163, 49, 49);
    cursor: pointer;
    transition: 0.5s ease;

}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.4s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover, nav a.active{
    color: rgb(210, 34, 34);
    border-bottom: 3px solid #b44b4b;
}

@media(max-width: 995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b44b4b;
        border-bottom: 3px solid #b44b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: rgb(33, 28, 28);
        border-top: 0.1rem solid rgb(8, 0, 0);

    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 2rem 1rem;
    }
    nav a:hover, nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 3px solid #b44b4b;

    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: #b44b4b;
}
.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b44b4b;
    cursor: pointer;
    transition:  0.2s linear;
    
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.1) translateY(-5px);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b44b4b;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 3rem 1.5rem 3rem;
    color: #b44b4b;
}
.social-icons a.email{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b44b4b;
    font-weight: 600;
    letter-spacing: 0.3rem;
    border: 2px solid #b44b4b;
    transition: 0.3s ease;
    cursor: pointer;
    width: 11rem;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px solid #b44b4b;
    background-color: #b44b4b;

}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b44b4b;
    font-weight: 600;
    letter-spacing: 0.3rem;
    border: 2px solid #b44b4b;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.2) translateY(-4px);
    box-shadow: 0 0 25px solid #b44b4b;
    color: black;
    background-color: #b44b4b;

}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "Software Developer";
    color: #b44b4b;
    animation: words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color: black;
    width: calc(100% + 8px);
    height: 100%;
    position: absolute;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
.skills-animation span::after, .project-animation span::after{
     content: "";
    background-color: black;
    width: calc(100% + 8px);
    height: 70px;
    position: absolute;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
li{
    margin: 30px 60px 20px ;
    color: white;

}
li a{
    text-decoration: none;
    
}
li.li-project{
    font-size: 15px;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 0.3rem;
    border: 2px solid #b44b4b;
    transition: 0.3s ease;
    cursor: pointer;
    padding: 1rem 2.8rem;
    color: black;
}
li.li-project:hover{
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 0 25px solid #b44b4b;
    color: black;
    background-color: transparent;
}
li.li-project a{
    color: #b44b4b;
    background-color: transparent;
}
li.li-project a:hover{
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 0 25px solid #b44b4b;
    
}
.my_text{
    font-size: 20px;
    margin-bottom: 20px;
}
.my_text.general{
    margin-top: 20px;
    margin-bottom: 0;
}
.skills-list{
  font-size: 18px;
  margin: 10px 50px 22px;   
}
@keyframes cursor {
    to{
        border-left: 3px solid #b44b4b;
    }
    
}
@keyframes words{
    0%,20%{
        content: "Web Developer";
    }
    21%,40%{
        content: "Programmer";
    }
    41%,60%{
        content: "A Curious learner";
    }
    61%,80%{
        content: "Youtuber";
    }
    81%,100%{
        content: "Software Developer";
    }
}
@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h2{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vh;
        margin-top: 4rem;

    }
}
