body {
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #0b3d91;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.business-card {
  width: 500px;
  background-color: #808080;
  padding: 20px;
  margin: 100px auto;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.social-media h2 {
  margin-bottom: 10px;
}
