* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: white;
  color: black;
  padding-top: 80px;
  
}
.page-img{
    width: 90px;
    height: 60px;
    border-radius: 50%;
}
/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  box-shadow: 0 2px 10px rgba(243, 240, 240, 0.1);
  z-index: 1000;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.nav-links a:hover {
  color: #0b3d91;
}
.logo{
  color: #f2eeee;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
hr{
    margin: 20px 0;
}
/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.hero h1 {
  margin-top: 15px;
  font-size: 32px;
}

.hero p {
  color: #555;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 2px 2px  3px rgb(26, 8, 8);
  border: 2px solid rgb(84, 70, 70);
  color: rgb(56, 56, 154)
}
section:hover{
  transition: 1s ease-in-out;
  transform: scale(1.1); 
  background-color: #e4e8ed;
  box-shadow: 2px 2px 3px rgb(234, 227, 227);
}

h2 {
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
  
  display: inline-block;
}

/* SKILLS */
.skills-list {
  list-style: square;
  margin-left: 20px;
}

/* PROJECTS */
.project-card {
  background: rgb(231, 226, 226);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  color: white;
}
.project-card:hover{
  box-shadow: 3px 3px 3px rgb(132, 116, 116);
  color: #555;
  background-color: rgb(212, 200, 200);
  transform: skew(-4deg);
}

/* PAGES */
.page-content {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #282424;
  margin-top: 40px;
}
.projects{
    margin: 20px 20px;
    border: 1px solid #0b3d91;
    border-radius: 3px;
    width: 30%;
    padding: 10px 10px;
}
h3{
  color: rgb(14, 0, 0);
}
.home_project{
   color: rgb(15, 1, 1);
}
.web-certificate{
  margin-left: 30px;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 1px 1px 5px white;
  border: 2px solid rgb(24, 7, 7);
}
.web-certificate:hover{
  background-color: #f8f5f5;
  transform: scale(1.1);
  transition: 1s ease-in-out;
}
a{
  cursor: pointer;
}
.social-links a {
  font-size: 20px;
  margin-right: 15px;
  color: #7c7474;
  text-decoration: none;
  z-index: 1000;
  display: flex;
  justify-content: flex-start; /* center horizontally */
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  flex-direction: row; 
}

.social-links a:hover {
  color: #0077b5;
}

.project-box-link {
  text-decoration: none;   /* remove underline */
  display: inline-block;   /* make <a> behave like block */
  color: inherit;          /* keep text color */
  margin: 10px;
}

.project-box {
  border: 1px solid #00060d;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  background-color: #020000;

  box-shadow: 0 3px 6px rgb(19, 0, 0);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  
}
.project-name{
  color: white;
}
.project-box h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.project-box img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.project-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  background-color: #3b3f46;
  color: white;
}

.project-type{
  margin-left: 90px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  transform: scale(1.2);
  display: block;
}
.one-by-one{
  display: inline-;
}
.LeetCode{
  margin-top: 40px;
  font-size: 18px;
  margin-left: 15px;
}
label{
  margin-left: 15px;
}
.solution{
  color: gray
}
